*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: blue;
}


/* button div */

.start-button-wrapper{
    background: red;
    width: fit-content;
    margin-top: 50vh;
}

.start-btn{
    width: 7rem;
    height: 2.5rem;
}

.start-button-wrapper{
    
}


/* quiz-wrapper div */



.quizRule-wrapper{
    background: white;  
    margin-top: 50%;
    width: 98%;
    border-radius: 5px;
    display: none;
}

ol{
    list-style-type: decimal;
    list-style-position: inside;
}

.quiz-wrapper-btn{
    width: 6rem;
    height: 2rem; 
}


/* quiz question */
.questions-container{
    display: none;
}
.questions-container-header{
    display: flex;
}




